body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  cursor: pointer;
  background: #f4f4f4;
}

#pagination button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#pagination button.active {
  background: black;
  color: white;
}

/* /// ----- */

button {
  padding: 6px 10px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.4);
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 300px;
  margin: 10% auto;
  border-radius: 4px;
}

.modal-content input {
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;
}
